extends ../../layouts/main
block content
  
  include ../../includes/header

  .contact-content
    .row
      .small-6.medium-6.column
        .contact-info
          .overlay 
            .top-bar
              h3 say hello
            a
              i.ss-icon.ss-social-circle Email
              h5 hello@ryedev.com
            a
              i.ss-icon.ss-social-circle Twitter
              h5 @RyeDev
            a
              i.ss-icon.ss-social-circle Facebook
              h5 hello@ryedev.com
      .small-6.medium-6.column.mailing-address
        .address
          h2 Mailing address
          h4 Rye Development, LLC
          h4 10 Cureton St.
          h4 Greenville, SC 29605
          br
          i.ss-icon.ss-standard phone
          h4 (864)630-4203
      //- img(src='/images/rye-symbol.png')
 include ../../includes/footer
