extends ../../layouts/main
block content
  
  include ../../includes/header

  .contact-content
    .row
      .small-12.medium-7.column
        h4 What services does Rye offer?
        ul
          li 
            h5 Application and Site Development
          li
            h5 Site and Brand Designs
          li
            h5 Content and Brand Strategy
        p 
          | Rye has the ability to meet many of the needs today's businesses face in a digital world. A cohesive digital presence is the crux of most organizations. Whether we're building an application to act as a tool to streamline your business or simply refreshing your web presence, Rye takes a proactive approach to finding solutions to meet your needs.
      .small-12.medium-5.column.mailing-address
        .contact-info
          .overlay 
            .top-bar
              h3 say hello
            a(href="mailto:hello@ryedev.com?subject=Inquiry from our Site")
              i.ss-icon.ss-social-circle Email
              h5 hello@ryedev.com
            br
            a(href="https://twitter.com/ryedev" target="_blank")
              i.ss-icon.ss-social-circle Twitter
              h5 @RyeDev
            br
            a(href='https://www.facebook.com/ryedevelopment' target="_blank")
              i.ss-icon.ss-social-circle Facebook
              h5 hello@ryedev.com
