extends ../layouts/main
block content
  
  include ../includes/header

  .hero-banner
    .overlay(style="width:100%; height:100%")
      .row
        .small-12.columns
          #headline
            h1#tagline Small-batch development<br>for your growing ideas
            //- <span class="tm">™</span>
            h5#sub-tag-text Tell us how we can<a href="mailto:hello@ryedev.com?subject=Inquiry from our Site"><span>help grow</span></a>your idea.

  .main-content 
    .row
      h2#main-content-hl The who. The what. The why.
      //- h5#main-content-sub-hl 
      .gif
        .gif-wrapper
          img(class='play-gif', src='/images/gif-still.png')
        h6 How you will feel after project completion<br>(and our favorite gif)
      p 
        | <strong><em>Rye Development focuses on growing and fostering relationships in order to build web products for individuals and organizations that reflect the people behind them.</em></strong>
      p
        | We are a small team of designers, developers, and business minds rooted in Greenville, SC. Our passion for our big-little corner of the country is only rivaled by our love of web technologies and the industry as a whole. We strive for the most enjoyable client experience by priding ourselves on our dependability and deliverables.
      p
        | Our network of numerous Designers, Developers, Business Leaders, and Mentors across the country, with years and years of combined experience between them, allows us the flexibility to solve a vast array of your software needs.
      .gif-mobile
        .gif-wrapper
          img(class='play-gif', src='/images/gif-still.png')
        h6 How you will feel after project completion<br>(and our favorite gif)

  .sub-content
    .row
      .small-12.medium-6.columns.case-studies
        .left-img
          .grain-image
          .white-out-grain
        .content
          h5 Case-studies
          p Want to see what we do? Take a glimpse at some of our work and hear what others have to say about us.
          a(href="/projects"): img(src="/images/buttons/case-studies-small-red.png")
      .small-12.medium-6.columns.start-project
        .right-img
          .iphone-image
          .white-out-phone
        .content
          h5 Start your project with Rye
          p Text, email, phone, snail-mail, pigeon, etc. We love talking to people. Let's talk about how Rye can help you.
          a(class='typeform-share link', href='https://ryedev.typeform.com/to/wJn5Mo', data-mode="1", target="_blank"): img(src='/images/buttons/work-with-small-red.png')

 include ../includes/footer

          



