extends layouts/main
block content
  .container
    .header
      .logo
        img(src="/images/logo.png")
      .nav
        ul
          li: a GREAT JOB
          li: a COOL
          li: a LINK

  .container
    .row

