extends layouts/main
block content

  .row
   .header.small-12
     .logo: img(src="/images/rye-logo.png" alt="Rye Development")
     .nav
       ul
         li: a(href="") About
         li: a(href="") Case Studies
         li: a(href="") Contact

     a(href="#"): .cta
  
  .row(style="width:100%; max-width:100%;")
    .large-12.columns(style="padding:0;")
      #slider      
        .hero
          .overlay(style="width:100%; height:100%")
          img(src="/images/header-mock.jpg")
          .container
            .hero-text.row
              h1 Cool Interactive Strategy,<br> Design, & Development
              p: strong some cool info here! 
  

  .row(style="width:100%; max-width:100%;")
   .footer
     .footerContainer
       .footerLeft
         .ryeImage
         .footerContent
           .footerTitle Start Your Project With Rye
           .footerBody Body Text Tumblr drinking vinegar tousied single-origin coffee. selfies mixtape tousied single-origin coffee.
           a(href="#"): .ctaSmall
       .footerRight
         .iphoneImage
         .footerContentRight
           .footerTitle Case Study Yada-yada
           .footerBody Body Text Tumblr drinking vinegar tousied single-origin coffee. selfies mixtape fashion axe.
           a(href="#"): .ctaSmall

     .footerBottom
       .stateImage
       .footerBottomContainer
         .footerBottomText Marco! Polo!
         .footerBottomText Marco! Polo!

          



