$gray:  #5E5E5E;
$rye-red: #BE5046;
$rye-dark-red: #9b4135;
$rye-yellow: #EAA245;
$rye-yellow-hover: #E99325;
$rye-beige: #EAE5E2;
$rye-light-gray: #9E918B;
$rye-medium-gray: #5B504A;
$rye-dark-gray: #2A2522;
$black: #191614;
$white: #fff;
$white-opacity: rgba(255, 255, 255, 0.87);
$tan-text: #9f918b;