//  contact page

.contact-content {
  background: url('/images/backgrounds/paper.png');
  background-size: 400px 400px;
  border-bottom: 1px solid $rye-light-gray;
  position: relative;

  p {
    max-width: 380px;
  }

  .contact-info {
    background: url('/images/greenville-map.png') no-repeat;
    background-size: cover;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(234, 162, 69, 0.6);
      padding: 16px;
      text-align: left;

      .top-bar {
        height: 26%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(42, 37, 34, 0.79);
        z-index: 123;
        width: 100%;

        h3 {
          color: #FFF;
          text-transform: uppercase;
          text-align: center;
          font-size: 1.7em;
          margin-top: 20px;
          letter-spacing: 0.1em;
        }
      }

      a {
        display: inline-block;
        color: $rye-dark-gray;

        &:hover {
          background: none;
        }

        i {
          display: inline-block;
          font-size: 30px;
          position: relative;
          top: 10px;
          margin-right: 8px;
          transition: all 0.2s ease;

          &:hover {
            color: #AF6200;
            transition: all 0.2s ease;
            cursor: pointer;
          }
        }

        h5 {
          display: inline-block;
          font-size: 1.2em;
          margin-left: -6px;  
          transition: all 0.2s ease;

          &:hover {
            color: #AF6200;
            transition: all 0.2s ease;
            cursor: pointer;
          }
        }  
      }
    }
  }

  .mailing-address {
    text-align: right;

    .address {
      text-align: right;

      h2 {
        border-bottom: 2px dashed $black;
        margin-bottom: 40px;
      }

      h4 {
        
      }

      i {
        display: inline-block;
        font-size: 24px;
        position: relative;
        top: 7px;
        right: 4px;
      }
    }
  }
}



 //               _     _ _        __ _         _           
 //   /\/\   ___ | |__ (_) | ___  / _\ |_ _   _| | ___  ___ 
 //  /    \ / _ \| '_ \| | |/ _ \ \ \| __| | | | |/ _ \/ __|
 // / /\/\ \ (_) | |_) | | |  __/ _\ \ |_| |_| | |  __/\__ \
 // \/    \/\___/|_.__/|_|_|\___| \__/\__|\__, |_|\___||___/
 //                                       |___/              

@media only screen {

  .contact-content {
    height: 840px;
    padding-top: 30px;

    p {
      font-size: 1.3em;
    }

    .contact-info {
        height: 280px;
        width: 290px;
        margin: 20px 0;
        background-position-y: -30px;

      .overlay {
        padding-top: 110px;
        padding-right: 0;

        .phone {
          display: inline-block;
          background: url('/images/phone-icon-black.png');
          background-size: cover;
          margin-top: 7px;
          margin-right: 7px;
          height: 29px;
          width: 29px;
          transition: all 0.3s ease;

          &:hover {
            background: url('/images/phone-icon-orange.png');
            background-size: cover;
            height: 29px;
            width: 29px;
          }
        }
      
        .number {
          vertical-align: top;
          margin-top: 13px;
        }
      }
    }
  }
}



//  __                 _ _   __                              
// / _\_ __ ___   __ _| | | / _\ ___ _ __ ___  ___ _ __  ___ 
// \ \| '_ ` _ \ / _` | | | \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// _\ \ | | | | | (_| | | | _\ \ (__| | |  __/  __/ | | \__ \
// \__/_| |_| |_|\__,_|_|_| \__/\___|_|  \___|\___|_| |_|___/
                                                          
// Min-width 401px;
@media only screen and (min-width: 400px) {
  
  .contact-content {
    height: 920px;
    padding-top: 40px;

    h4 {
      font-size: 1.2em;
    }

    .contact-info {
     background-position: 0 -55px;
     height: 300px;
     width: 350px;
     margin-top: 14px;
   
      .overlay {
        padding-top: 120px;
      } 
    }
  }
}




//                  _ _                   __                              
//   /\/\   ___  __| (_)_   _ _ __ ___   / _\ ___ _ __ ___  ___ _ __  ___ 
//  /    \ / _ \/ _` | | | | | '_ ` _ \  \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /\/\ \  __/ (_| | | |_| | | | | | | _\ \ (__| | |  __/  __/ | | \__ \
// \/    \/\___|\__,_|_|\__,_|_| |_| |_| \__/\___|_|  \___|\___|_| |_|___/
                                                                       
/* min-width 641px, medium screens */
@media only screen and (min-width: 641px) {
  



}




//    __                        __                              
//   / /  __ _ _ __ __ _  ___  / _\ ___ _ __ ___  ___ _ __  ___ 
//  / /  / _` | '__/ _` |/ _ \ \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /__| (_| | | | (_| |  __/ _\ \ (__| | |  __/  __/ | | \__ \
// \____/\__,_|_|  \__, |\___| \__/\___|_|  \___|\___|_| |_|___/
//                 |___/                                        
/* Min-width 1025px */
@media only screen and (min-width: 1025px) {
  .contact-content {
    padding-top: 60px;
    height: 800px;

    h3 {
      margin-bottom: 20px;
    }
    p {
      max-width: 540px;
      line-height: 1.4em;
    }
    .contact-info {
      margin-top: 80px;
      float: right;

      .overlay {
        a {
          h5 {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}