.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  .footer-bottom {
    background-color: $rye-dark-gray;
    padding: 10px 26px;
    position: relative;

    .logo {
      display: none;
      vertical-align: top;
      margin-top: 30px;
      
      img {
        height: 90px;
      }
    }

    .mobile-nav {
      display: none;
    }

    .links {
      display: inline-block;
      width: 310px;
      text-align: right;

      nav {
        display: inline-block;

        ul {
          list-style-type: none;
          text-align: center;
          margin-left: 0;

          li {
            display:inline-block;

            &:hover{

            }
            a {
              color: $white;
              font-family: "CourierPrime";

              &:hover {
                color: $white;
                border-bottom: 2px solid $white;
              }
            }
          }
        }
      }

      .phone {
        color: $white;
        display: inline-block;
        position: relative;
        top: 4px;
      }

      h5 {
        color: $white;
        display: inline-block;
        margin: 0;
      }
    }

    .social {
      text-align: center;
      font-size: 26px;
      margin-bottom: 12px;
      margin-top: 2px;

      a {
        color: $white;
        transition: all 0.3s ease;
        
        &:hover {
          color: $rye-yellow;
        }
      }
    
    }

    .state-image {
      display: inline-block;
      background: url('/images/state.png') no-repeat;
      background-size: contain;
      height: 120px;
      width: 200px;
      margin-left: 22px;
      float: right;
    }
  }

  .footer-bottom-bar {
    background-color: $black;
    height: 50px;
  }
}




//               _     _ _        __ _         _           
//   /\/\   ___ | |__ (_) | ___  / _\ |_ _   _| | ___  ___ 
//  /    \ / _ \| '_ \| | |/ _ \ \ \| __| | | | |/ _ \/ __|
// / /\/\ \ (_) | |_) | | |  __/ _\ \ |_| |_| | |  __/\__ \
// \/    \/\___/|_.__/|_|_|\___| \__/\__|\__, |_|\___||___/
//                                       |___/              

@media only screen {
  .footer {

    .footer-bottom {
      padding: 10px 0;
      height: 115px;

      .logo {
        display: none;
        
        img {
          height: 60px;
        }
      }

      .main-footer-nav {
        display: none;
      }

      .mobile-nav {
        display: block;
        text-align: center;
        font-family: "Courier Prime";
      }

      nav {
        display: inline-block;

        ul {
          list-style-type: none;
          text-align: center;
          margin-left: 0;
          margin-bottom: 10px;

          li {
            display:inline-block;

            &:hover{

            }
            a {
              color: $white;
              font-size: 1.7em;
              font-family: "CourierPrime";

              &:hover {
                color: $white;
                border-bottom: 2px solid $white;
              }
            }
          }
        }
      }

      .links {
        display: block;
        width: 310px;
        text-align: center;
        margin: 0 auto;

        .phone {
          font-size: 1.2em;
        }
      
        h5 {
          font-size: 1.2em;
        }

      }

      .social {
        margin-bottom: 0;
      }

      .phone {
        font-size: 1.5em;
      }

      .state-image {
        display: none;
      }

    }

    .footer-bottom-bar {
      background-color: $black;
      height: 50px;
    }
  }
}





//  __                 _ _   __                              
// / _\_ __ ___   __ _| | | / _\ ___ _ __ ___  ___ _ __  ___ 
// \ \| '_ ` _ \ / _` | | | \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// _\ \ | | | | | (_| | | | _\ \ (__| | |  __/  __/ | | \__ \
// \__/_| |_| |_|\__,_|_|_| \__/\___|_|  \___|\___|_| |_|___/
                                                          
// Min-width 401px;
@media only screen and (min-width: 20.063em){
  .footer {

    .footer-bottom {
      height: 130px;

      .logo {
        display: none;
        
        img {
          height: 60px;
        }
      }

      .main-footer-nav {
        display: none;
      }

      .mobile-nav {
        display: block;
        text-align: center;
        font-family: "Courier Prime";
      }

      nav {
        display: inline-block;

        ul {
          list-style-type: none;
          text-align: center;
          margin-left: 0;

          li {
            display:inline-block;

            &:hover{

            }
            a {
              color: $white;
              font-size: 1.2em;
              font-family: "CourierPrime";

              &:hover {
                color: $white;
                border-bottom: 2px solid $white;
              }
            }
          }
        }
      }

      .state-image {
        background: url('/images/state.png') no-repeat;
        background-size: contain;
        height: 106px;
        width: 128px;
        display: inline-block;
      }
    

      .links {
        display: inline-block;
        h5 {
          font-size: 1.2em;
        }
      }

      .footer-bottom-bar {
        background-color: $black;
        height: 50px;
      }
    }
  }

}


//                  _ _                   __                              
//   /\/\   ___  __| (_)_   _ _ __ ___   / _\ ___ _ __ ___  ___ _ __  ___ 
//  /    \ / _ \/ _` | | | | | '_ ` _ \  \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /\/\ \  __/ (_| | | |_| | | | | | | _\ \ (__| | |  __/  __/ | | \__ \
// \/    \/\___|\__,_|_|\__,_|_| |_| |_| \__/\___|_|  \___|\___|_| |_|___/
                                                                       
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) { 
  .footer {

    .footer-bottom {
      padding: 10px 26px 10px 10px;

      .logo {
        margin-top: 0;
        position: relative;
        bottom: 10px;

        img {
          height: 110px;
        }
      }

      nav {
        ul {
          text-align: right;
          margin-bottom: 10px;
        }
      }

      .social {
        display: inline-block;
        text-align: right;
      }
    }
  }
}

//    __                        __                              
//   / /  __ _ _ __ __ _  ___  / _\ ___ _ __ ___  ___ _ __  ___ 
//  / /  / _` | '__/ _` |/ _ \ \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /__| (_| | | | (_| |  __/ _\ \ (__| | |  __/  __/ | | \__ \
// \____/\__,_|_|  \__, |\___| \__/\___|_|  \___|\___|_| |_|___/
//                 |___/                                        
/* Min-width 1025px */
@media only screen and (min-width: 60.063em) { 
  .footer {

    .footer-bottom {
      padding: 10px 36px 10px 26px;

      .logo {
        margin-top: 0;
        position: relative;
        bottom: 10px;

        img {
          height: 110px;
        }
      }

      nav {
        ul {
          text-align: right;
          margin-bottom: 10px;
        }
      }

      .social {
        display: inline-block;
        text-align: right;
      }
    }
  }
}