

.footer {
  font-family: 'CourierPrime';
  width: 100%;
}

.footer-container {
  width: 100%;
}

.footer-title {
  display: block;
  margin-bottom: 10px;

  @media (max-width:800px) {
    font-size: 0.8rem;   
    }

}

.footer-body {
  display: block;
  color: $rye-light-gray;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-bottom: 15px;

  @media (max-width:800px) {
    min-height: 80px;    
    }

    @media (max-width:500px) {
    min-height: 150px; 
    }
}

.footer-left {
  display: inline-block;
  width: 43%;
  margin-left: 5%;
  border-right: 1px solid #9E918B;

}

.rye-image {
  display: inline-block;
  background: url('/images/ryeLeaves.jpg');
  margin-left: 10px;
  height: 240px;
  width: 80px;
  background-size: 80px 240px;

    @media (max-width:900px) {
    display:none;
    }

}

.footer-content {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  width: 65%;

  @media (max-width:900px) {
    padding-left: 5%;
    width: 93%;
  }

  @media (max-width:800px) {
    height: 200px;    
  }

  @media (max-width:500px) {
    margin-top: 0px;
    height: 280px;
  }

  .cta-small {
    background:url('/images/cta.png');
    background-size: cover;
    margin-bottom: 25px;
    height: 50px; 
    width: 150px; 
    right: 00px;
    top: 10px;
    display: block;
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;

    @media (max-width:500px) {
    height: 40px;
    width: 120px;
    background-size: 120px 40px;

  }


    &:hover {
      background:url('/images/cta-red.png');
      background-size:cover;
      transition: background .6s;
      -webkit-transition: background .6s;
      -moz-transition: background .6s;
      -o-transition: background .6s;
    }
  }
}

.footer-content-left {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  width: 45%;

  @media (max-width:900px) {
    padding-left: 5%;
    width: 93%;
  }

  @media (max-width:800px) {
  height: 200px;    
  }

  @media (max-width:500px) {
    margin-top: 0px;
    height: 280px;
    }

  .cta-small {
    background:url('/images/cta.png');
    background-size:cover;
    margin-bottom: 25px;
    height: 50px; 
    width: 150px; 
    right: 00px;
    top: 10px;
    display: block;
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;

    @media (max-width:500px) {
    height: 40px;
    width: 120px;
    background-size: 120px 40px;
  }


    &:hover {
      background:url('/images/cta-red.png');
      background-size:cover;
      transition: background .6s;
      -webkit-transition: background .6s;
      -moz-transition: background .6s;
      -o-transition: background .6s;
    }
  }
}

.footer-right {
  display: inline-block;
  width: 48%;

  @media (max-width:900px) {
    margin-left: 5%;
    width: 43%;
    }
}

.footer-bottom {
  background-color: $rye-dark-gray;
  height: 200px;

  @media (max-width:500px) {
    height: 225px;
  }
}

.state-image {
  float: right;
  margin-top: 25px;
  margin-right: 100px;
  background: url('/images/state.jpg');
  background-size: cover;
  height: 140px;
  width: 200px;

  @media (max-width:500px) {
    float: none;
    display: block;
    margin: 0px auto;
  }
}

.footer-bottom-container {
  float: right;
  margin-top: 70px;
  margin-right: 10px;

  @media (max-width:500px) {
    float: none;
    display: block;
    text-align: center;
    margin-top: 20px;

  }
}

.footer-bottom-text {
  display: block;
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-bottom: 5px;

}

.footer-bottom-bar {
  // background-color: $rye-really-dark-grey;
  height: 50px;
}