html * {

}

.row{
  padding: 0 2%;
  position: relative;
}

p {
  text-align: left;
}

// Main image section
.hero-banner {
  position: relative;
  width: 100%;
  height: 440px;
  background: url('/images/header-mock.jpg');
  background-size: cover;
  font-size: 1rem;

  .row {
    height: 100%;
    padding: 0 1.5%;
  }

  .overlay {
    position:absolute;
    width: 100%;
    height:100%;
    background-color:rgba(81, 20, 2, 0.57);
    z-index:1;
    padding-top: 90px;
  }

  #headline {
    width: 80%;
  }

  #sub-tag {
    width: 50%;
  }

  h1 {
    color: $white;
    font-weight: 800;
    line-height: 1.2em;
    margin-bottom: 0;
  }

  h5 {
    color: $rye-beige;
    margin: 0;
  }

  .tm {
    font-size: 0.5em;
    position: relative;
    bottom: 0.7em;
  }

  a {
    color: $rye-yellow;
    font-family: "Courier Prime";
    margin: 0 8px;
    font-weight: 600;
    font-size: 1em;
    border-bottom: none;
    transition: border-bottom 1.2s ease;
  
    &:hover{
      border-bottom: 3px solid $rye-yellow;
      transition: border-bottom 0.2s ease;
    }

  }

}

// main content section of index
.main-content {
  background: url('/images/backgrounds/lightpaperfibers.png');
  border-bottom: 1px solid $rye-light-gray;
  padding-bottom: 4%;

  h2 {
    color: $rye-dark-gray;
    text-transform: capitalize;
    padding-top: 30px;
    font-weight: 600;
    margin-bottom: 5%;
  }

  .gif {
    float: right;
    width: 40%;
    margin-left: 10px;
    margin-top: 6px;

    img {
      margin-bottom: 8px;
    }

    h6 {
      text-align: center;
    }
  }

  .gif-mobile {
    h6 {
      text-align: center;
    }
  }

}


.sub-content {

  .iphone-image {
    display: inline-block;
    background: url('/images/iphone.png');
    height: 298px;
    width: 140px;
    background-size: 140px 298px;
    position: relative;
    bottom: 24px;
  }

  .grain-image {
    display: inline-block;
    background: url('/images/grain.png');
    height: 298px;
    width: 100px;
    background-size: 140px 298px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 68px;
    z-index: 10;
  }
  
  .white-out-phone {
    display: inline-block;
    height: 30%;
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
    -webkit-box-shadow: inset 0 -18px 24px 6px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0px -18px 24px 6px rgba(255, 255, 255, 0.75);
    z-index: 5;
  }

  .white-out-grain {
    display: inline-block;
    height: 30%;
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
    bottom: 122px;
    z-index: 11;
    -webkit-box-shadow: inset 0 -74px 46px -2px rgba(255, 255, 255, 0.97);
    box-shadow: inset 0 -74px 46px -2px rgba(255, 255, 255, 0.97);
  }

  .case-studies{
    .content{
      margin-left: 10px;
      vertical-align: top;
      display: inline-block;
    }

    h5 {
      margin: 10px 0 0 0;
    }
  }

  .start-project {
    .content{
      margin-left: 10px;
      vertical-align: top;
      display: inline-block;
    }

    h5 {
      margin: 10px 0 0 0;
    }

    a {
      position: absolute;
      right: 24px;
    }
  }


}