html, 
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

// #wrapper {
//   min-height: 100%;
//   position: relative;
// }

.row{
  padding: 0 2%;
  position: relative;
}

p {
  text-align: left;
}

// Main image section
.hero-banner {
  position: relative;
  width: 100%;
  height: 440px;
  background: url('/images/header-mock.jpg');
  background-size: cover;
  font-size: 1rem;

  .row {
    height: 100%;
    padding: 0 1.5%;
  }

  .overlay {
    position:absolute;
    width: 100%;
    height:100%;
    background-color:rgba(81, 20, 2, 0.57);
    z-index:1;
    padding-top: 90px;
  }

  #headline {
    width: 80%;
  }

  #sub-tag {
    width: 50%;
  }

  h1 {
    color: $white;
    font-weight: 800;
    line-height: 1.05em;
    margin-bottom: 6px;
  }

  h5 {
    color: $rye-beige;
    margin: 0;
  }

  .tm {
    font-size: 0.5em;
    position: relative;
    bottom: 0.7em;
  }

  a {
    span {

    color: $rye-yellow;
    font-family: "CourierPrime";
    margin: 0 8px;
    font-weight: 600;
    font-size: 1em;
    border-bottom: none;
    transition: border-bottom 1.2s ease;
  
      &:hover{
        border-bottom: 3px solid $rye-yellow;
        transition: border-bottom 0.2s ease;
      }
    }
  }
}

// main content section of index
.main-content {
  background: url('/images/backgrounds/paper.png');
  border-bottom: 1px solid $rye-light-gray;

  h2 {
    text-transform: capitalize;
    padding-top: 30px;
    font-weight: 600;
    margin-bottom: 26px;
  }

  .gif {
    float: right;
    width: 46%;
    margin-left: 28px;
    margin-top: 6px;

    .gif-wrapper {
      margin-bottom: 8px;
      transition: all 1s ease;

      &:hover {
        box-shadow: 0px 0px 1px 1px #000;
        transform: scale(1.009);
        transition: all 0.3s ease;
      }
    }

    img {
    }

    .play-gif:hover {
      cursor: pointer;
    }

    h6 {
      text-align: center;
    }

  }

  .gif-mobile {
    .gif-wrapper {
      margin-bottom: 8px;
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0px 0px 3px 1px #000;
      }

      h6 {
        text-align: center;
      }

      .play-gif:hover {
        cursor: pointer;
      }
    }
  }
}

// sub content work with and case study section
.sub-content {
  padding: 20px 30px 16px;

  .case-studies{
    padding: 0;

    .left-img {
      position: relative;

      .white-out-grain {
        display: inline-block;
        height: 30%;
        position: absolute;
        left: -30px;
        right: 0;
        bottom: 0;
        -webkit-box-shadow: inset 0 -74px 46px -2px rgba(255, 255, 255, 0.87);
        box-shadow: inset 0 -74px 46px -2px rgba(255, 255, 255, 0.87);
        z-index: 20;
      }
    }

    .grain-image {
      display: inline-block;
      background: url('/images/grain.png');
      height: 298px;
      width: 100px;
      background-size: 80px 150px;
      background-repeat: no-repeat;
      position: relative;
      bottom: 13px;
      left: -30px;
      z-index: 10;
    }

    .content{
      padding-left: 0;
      vertical-align: top;
      display: inline-block;
     
      h5 {
        margin: 10px 0 0 0;
      }

      p {
        color: $rye-light-gray;
      }

      a {
        img {
          transition: all 0.3s ease;
          &:hover {
            margin-left: 6px;
          }
        }
      }
    }

  }

  .start-project {
    .content{
      vertical-align: top;
      display: inline-block;
      h5 {
        margin: 10px 0 0 0;
      }

      p {
        color: $rye-light-gray;
      }
    }

    a {
      img {
        transition: all 0.3s ease;
        &:hover {
          margin-left: 6px;
        }
      }

    }

    .iphone-image {
      display: inline-block;
      background: url('/images/iphone.png');
      height: 298px;
      width: 140px;
      background-size: 140px 298px;
      position: relative;
      bottom: 24px;
    }

    .white-out-phone {
      display: inline-block;
      height: 30%;
      position: absolute;
      left: -25px;
      right: -25px;
      bottom: 0;
      z-index: 11;
      -webkit-box-shadow: inset 0 -74px 46px -2px rgba(255, 255, 255, 0.37);
      box-shadow: inset 0 -61px 27px -1px rgba(255, 255, 255, 0.37);
    }
  }
} /* end subcontent */

