html * {

}

.row{
  padding: 0 2%;
}

// Main image section
.hero-banner {
  position: relative;
  width: 100%;
  height: 440px;
  background: url('/images/header-mock.jpg');
  background-size: cover;
  font-size: 1rem;

  .row {
    height: 100%;
    padding: 0 1.5%;
  }

  .overlay {
    position:absolute;
    width: 100%;
    height:100%;
    background-color:rgba(81, 20, 2, 0.57);
    z-index:1;
    padding-top: 90px;
  }

  #headline {
    width: 80%;
  }

  #sub-tag {
    width: 50%;
  }

  h1 {
    color: $white;
    font-weight: 800;
    line-height: 1.2em;
    margin-bottom: 0;
  }

  h5 {
    color: $rye-beige;
    margin: 0;
  }

  .tm {
    font-size: 0.5em;
    position: relative;
    bottom: 0.7em;
  }

  a {
    color: $rye-yellow;
    font-family: "Courier Prime";
    margin: 0 8px;
    font-weight: 600;
    font-size: 1em;
    border-bottom: none;
    transition: border-bottom 1.2s ease;
  
    &:hover{
      border-bottom: 3px solid $rye-yellow;
      transition: border-bottom 0.2s ease;
    }

  }

}
