//  _   _                _           
// | | | |              | |          
// | |_| | ___  __ _  __| | ___ _ __ 
// |  _  |/ _ \/ _` |/ _` |/ _ \ '__|
// | | | |  __/ (_| | (_| |  __/ |   
// \_| |_/\___|\__,_|\__,_|\___|_|   
// ascii- DOOM

header {
  position:relative;
  padding: 16px 0 0;
  font-family: 'CourierPrime';
  border-bottom: 1px solid $rye-beige;

  .logo {
    display:inline-block;
    height:80px;
    text-align: center;

    img {
      height:100%;
    }
    
  }

  nav {

    ul {
      list-style-type: none;
      text-align: center;
      margin-left: 0;

      li {
        display:inline-block;
        padding-right:20px;

        &:hover{

        }
        a {
          color: $white;
          font-size: 1em;

          &:hover {
            color: $white;
            border-bottom: 2px solid $rye-medium-gray;
          }
        }
      }
    }

  }
}



// ___  ___         _ _         _____                 _           
// |  \/  |        | (_)       |  _  |               (_)          
// | .  . | ___  __| |_  __ _  | | | |_   _  ___ _ __ _  ___  ___ 
// | |\/| |/ _ \/ _` | |/ _` | | | | | | | |/ _ \ '__| |/ _ \/ __|
// | |  | |  __/ (_| | | (_| | \ \/' / |_| |  __/ |  | |  __/\__ \
// \_|  |_/\___|\__,_|_|\__,_|  \_/\_\\__,_|\___|_|  |_|\___||___/
                                                               
//_________________________________________________________________ 


//  __  __     _    _ _       ___ _        _        
// |  \/  |___| |__(_) |___  / __| |_ _  _| |___ ___
// | |\/| / _ \ '_ \ | / -_) \__ \  _| || | / -_|_-<
// |_|  |_\___/_.__/_|_\___| |___/\__|\_, |_\___/__/
                                    // |__/          

@media only screen { 
  header{
    text-align: center;
    .logo{
      margin-bottom: 10px;
    }
    nav{
      text-align: center;
      li {
        padding: 1% 0 1% 2px;
        text-align: center;
        background: $rye-yellow;
        color: $white;
        a{
          position: relative;
          left: 10px;
          color: $white;
          font-size: 2em;
          &:hover{
            border-bottom: none;
          }
        }
      }
    }
  }
} 

//  ___            _ _   ___                         
// / __|_ __  __ _| | | / __| __ _ _ ___ ___ _ _  ___
// \__ \ '  \/ _` | | | \__ \/ _| '_/ -_) -_) ' \(_-<
// |___/_|_|_\__,_|_|_| |___/\__|_| \___\___|_||_/__/

// at least 400px up to next MQ at 641 
@media only screen and (min-width: 20.063em){
  header{
    text-align: center;
    .logo{
      img{
      }
    }
    nav {
      ul{
        li{
          // padding:0;
          // padding-top: 5%;
          background: $white;
          // color: $rye-medium-gray;
          -webkit-transition: background 0.3s ease;
          -moz-transition: background 0.3s ease;
          -o-transition: background 0.3s ease;
          transition: background 0.3s ease;
          &:hover{
            background: none;
            text-decoration: none;
          }
          a{
            color: $rye-medium-gray;
            font-size: 1em;
            &:hover{
              border-bottom: 5% solid $rye-medium-gray;
              color: $rye-medium-gray;
            }
          }
        }
      }
    }
  }
}

//  __  __        _ _              ___                         
// |  \/  |___ __| (_)_  _ _ __   / __| __ _ _ ___ ___ _ _  ___
// | |\/| / -_) _` | | || | '  \  \__ \/ _| '_/ -_) -_) ' \(_-<
// |_|  |_\___\__,_|_|\_,_|_|_|_| |___/\__|_| \___\___|_||_/__/
// Min-width 641px
@media only screen and (min-width: 40.063em){
  header{
    display: inline-block;
    text-align: left;
    padding: 24px 0 16px;

    .logo{
      display: inline-block;
      img{
        display: inline-block;

      }
    }
    nav {
      display: inline-block;
      ul{
        display: inline-block;
        li{
          display: inline-block;
          padding: 0 6px;
          &:hover{

          }
          a{
            &:hover{
              
            }
          }
        }
      }
    }

    .cta{
      position: absolute;
      right: 24px;
      top: 14px;
    }
  }
}

//  _                        ___                         
// | |   __ _ _ _ __ _ ___  / __| __ _ _ ___ ___ _ _  ___
// | |__/ _` | '_/ _` / -_) \__ \/ _| '_/ -_) -_) ' \(_-<
// |____\__,_|_| \__, \___| |___/\__|_| \___\___|_||_/__/
//               |___/   
// 1025px
@media only screen and (min-width: 64.063em){
  header{
    display: inline-block;
    .logo{
      img{

      }
    }
    nav {
      ul{
        li{
          &:hover{

          }
        }
      }
      a{
        &:hover{
          
        }
      }
    }
  }
}

@media(min-width: 1025px){
  header{
    display: inline-block;
    padding-left: 0px;
    .logo{
      img{

      }
    }
    nav {
      ul{
        li{
          &:hover{

          }
        }
      }
      a{
        &:hover{
          
        }
      }
    }
  }
}
