// Define mobile styles
@media only screen { 
  .hero-banner {
    height: 150px;
    .overlay{
      padding-top: 30px; 
      .row{
        #headline {
          width: 90%;
          a {
            margin: 0 5px;
            span {
              font-family: "Courier Prime";
            }
          } 
        }
      }
    }
  }

  .main-content {
    padding: 4px 10px;
    h2 {
      // padding-top: 0;
    }
    .gif{
      display: none;
    }

    p {
      font-size: 1.1em;
    }

    .gif-mobile {
      h6 {
        font-size: 1em;
      }
    }

  }

  .sub-content {

    .iphone-image {
      height: 128px;
      width: 60px;
      background-size: 60px 128px;
      position: relative;
      bottom: 27px;
    }

    .case-studies {

      .content {
        margin-left: 0;
      }

      h5 {
        font-size: 1.3em;
        display: inline-block;
      }
      a {
        position: absolute;
        right: 30px;
        bottom: -32px;
      }
      p {
        position: relative;
        z-index: 20;
        font-size: 1.2em;
      }
    }

    .start-project {
      position: relative;
      top: -20px;
      .content {
        margin-left: 0;
      }

      .grain-image {
        bottom: 36px;
        height: 160px;
      }

      .white-out-grain {
        left: -20px;
        bottom: 40px;
        -webkit-box-shadow: inset 0 -64px 46px -42px rgba(255,255,255,0.97);
        box-shadow: inset 0 -64px 46px -42px rgba(255,255,255,0.97);
      }

      h5 {
        font-size: 1.3em;
        display: inline-block;
      }

      p {
        font-size: 1.2em;
      }

      a {
        position: absolute;
        right: 0px;
        bottom: -10px;  
      }
      
    }

  }
} 
// END MOBILE STYLES


// max-width 640px, mobile-only styles, use when QAing mobile issues
@media only screen and (max-width: 40em) { 
// for QAin

} 


// SMALL SCREENS
@media only screen and (min-width: 20.063em){
  .hero-banner {
    height: 220px;
    .overlay{
      padding-top: 50px;
      .row{
        #headline {
          width: 80%;
          a {
            margin: 0 8px;
          }
        }
      }
    }
  }

  .main-content {
    // height: 72%;
  }

  .sub-content {
    .case-studies {
      p{
        font-size: 1em;
      }

      a {
        bottom: -24px;
        right: 60px;
      }

      h5 {
        font-size: 1.2em;
      }

      .iphone-image {
        height: 152px;
        width: 74px;
        background-size: 73px 153px;
        position: relative;
        bottom: 27px;
      }
    }

    .start-project {
      .grain-image {

      }

      h5 {
        font-size: 1.2em;
      }

      p {
        font-size: 1em;
      }

      a {
        bottom: 8px;
      }
    }
  }
}

// Medium screens
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) { 
  .hero-banner{
    height: 400px;
    .overlay{
      padding-top: 100px;
      .row{
        #headline{
          // width: 80%;
        }
      }
    }
  }

  .cta{
    display: inline-block;
  }

  .main-content {
    .gif{
      display: inline-block;
    }

    .gif-mobile {
      display: none;
    }
  }

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) { 
  .hero-banner{
    height: 400px;
    .overlay{
      .row{
      }
    }
  }
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */