 //               _     _ _        __ _         _           
 //   /\/\   ___ | |__ (_) | ___  / _\ |_ _   _| | ___  ___ 
 //  /    \ / _ \| '_ \| | |/ _ \ \ \| __| | | | |/ _ \/ __|
 // / /\/\ \ (_) | |_) | | |  __/ _\ \ |_| |_| | |  __/\__ \
 // \/    \/\___/|_.__/|_|_|\___| \__/\__|\__, |_|\___||___/
 //                                       |___/              

@media only screen { 
  .hero-banner {
    height: 150px;

    .overlay{
      padding-top: 30px; 
      .row{
        #headline {
          width: 90%;
          a {
            margin: 0 5px;
            span {
              font-family: "Courier Prime";
            }
          } 
        }
      }
    }
  }

  .main-content {
    padding: 4px 10px 20px;
    h2 {
      // padding-top: 0;
    }
    .gif{
      display: none;
    }

    p {
      font-size: 1.2em;
    }

    .gif-mobile {

      h6 {
        font-size: 0.9em;
        text-align: center;
      }

      img {
        margin-bottom: 6px;
      }

    }

  }

  .sub-content {
    height: 560px;
    .case-studies {
      text-align: center;

      .content {
        margin-left: 0;
        
        h5 {
          text-align: center;
        }

        p {
          width: 77%;
          text-align: center;
          margin: 0 auto;
          font-size: 1.3em;
          margin-bottom: 8px;
        }
      
      }

      .left-img {
        display: none;
      }

      h5 {
        font-size: 1.7em;
        display: inline-block;
      }
      a {

      }
    }

    .start-project {
      padding: 0;
      padding-top: 10px;
      text-align: center;

      .content {
        margin-left: 0;
        padding-left: 0;
  
        p {
          font-size: 1.3em;
          margin: 0 auto 8px;
          text-align: center;
          width: 77%;
        }
      }

      .right-img {
        display: none;
      }

      h5 {
        font-size: 1.6em;
        display: inline-block;
      }

      a {
 
      }
    }
  }
} 
// END MOBILE STYLES


// max-width 640px, mobile-only styles, use when QAing mobile issues
@media only screen and (max-width: 40em) { 
// for QAin

} 


//  __                 _ _   __                              
// / _\_ __ ___   __ _| | | / _\ ___ _ __ ___  ___ _ __  ___ 
// \ \| '_ ` _ \ / _` | | | \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// _\ \ | | | | | (_| | | | _\ \ (__| | |  __/  __/ | | \__ \
// \__/_| |_| |_|\__,_|_|_| \__/\___|_|  \___|\___|_| |_|___/
                                                          
// Min-width 401px;
@media only screen and (min-width: 400px){
  .hero-banner {
    height: 220px;
    .overlay{
      padding-top: 50px;
      .row{
        #headline {
          width: 80%;
          a {
            margin: 0 8px;
          }
        }
      }
    }
  }

  .main-content {
    padding-bottom: 30px;

    h2 {
      
    }

    .gif{
      
    }

    p {
      font-size: 1.3em;
    }

    .gif-mobile {

      h6 {
       font-size: 0.9em;
       margin-top: 14px;
      }

      img {
        margin-bottom: 0;
      }

    }

  }

  .sub-content {

    .case-studies {
      .content {
        p{
          font-size: 1.3em;
        }

        h5 {
          font-size: 1.5em;
        }
      }

      a {
       
      }


      .iphone-image {
        height: 152px;
        width: 74px;
        background-size: 73px 153px;
        position: relative;
        bottom: 27px;
      }
    }

    .start-project {
      .grain-image {

      }

      .content {

        h5 {
          font-size: 1.5em;
        }

        p {
          font-size: 1.3em;
          text-align: center;
        }
        
      }

      a {
        bottom: 8px;
      }
    }
  }
}



//                  _ _                   __                              
//   /\/\   ___  __| (_)_   _ _ __ ___   / _\ ___ _ __ ___  ___ _ __  ___ 
//  /    \ / _ \/ _` | | | | | '_ ` _ \  \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /\/\ \  __/ (_| | | |_| | | | | | | _\ \ (__| | |  __/  __/ | | \__ \
// \/    \/\___|\__,_|_|\__,_|_| |_| |_| \__/\___|_|  \___|\___|_| |_|___/
                                                                       
/* min-width 641px, medium screens */
@media only screen and (min-width: 641px) { 
  .hero-banner{
    height: 400px;
    .overlay{
      padding-top: 100px;
      .row{
        #headline{
          // width: 80%;
        }
      }
    }
  }

  .cta{
    display: inline-block;
  }

  .main-content {
    padding-bottom: 40px;
    .gif{
      display: inline-block;
    }

    .gif-mobile {
      display: none;
    }

    p {
      font-size: 1.4em;
    }
  }

  .sub-content {
    height: 370px;
    padding: 20px 0 0 0 ;

    .case-studies {
      text-align: left;

      .content {
        text-align: left;

        h5 {
          margin-top: 0;
          font-size: 1.3em;
        }

        a{
          left: 0;
        }

        p {
          text-align: left;
          margin-left: 0;
          width: 290px;
        }
      }
    }

    .start-project {
      padding-top: 0;
      text-align: left;

      .content{
        text-align: left;

        h5 {
          margin-top: 0;
          font-size: 1.3em;
        }

        p {
          text-align: left;
          width: 80%;
          margin: 0;
          margin-bottom: 8px;
        }
      }
    }
  }

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */





//    __                        __                              
//   / /  __ _ _ __ __ _  ___  / _\ ___ _ __ ___  ___ _ __  ___ 
//  / /  / _` | '__/ _` |/ _ \ \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /__| (_| | | | (_| |  __/ _\ \ (__| | |  __/  __/ | | \__ \
// \____/\__,_|_|  \__, |\___| \__/\___|_|  \___|\___|_| |_|___/
//                 |___/                                        
/* Min-width 1025px */
@media only screen and (min-width: 1025px) { 
  .hero-banner{
    height: 400px;
    .overlay{
      .row{
      }
    }
  }

  .main-content {
    padding-bottom: 70px;

    p {
      font-size: 1.1em;
      line-height: 1.4em;
    }
  }

  .sub-content {
    padding-top: 40px;
    padding-bottom: 0;
    height: 500px;

    .case-studies {
      text-align: left;
      width: 46%;

      .left-img {
        display: inline-block;
        position: relative;
        bottom: 56px;
        z-index: -2;

        .grain-image {
          background-size: 100px 298px;
        }
      }  

      .content {
        height: 175px;
        position: relative;

        h5 {
          font-size: 1.1em;
        }

        p {
          width: 300px;
          font-size: 1.2em;
          line-height: 1.3em;
        }

        a {
          position: absolute;
          bottom: 0;
        }
      }
    }

    .start-project {
      text-align: right;
      width: 52%;

      .right-img {
        display: inline-block;
        position: relative;
        bottom: 50px;
      }

      .content {
        position: relative;
        height: 175px;
        max-width: 350px;
        padding-left: 26px;

        h5 {
          font-size: 1.1em;
        }
      
        p {
          font-size: 1.2em;
          line-height: 1.3em;
        }

        a {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

}

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */