.project-content {
  background: url('/images/backgrounds/paper.png');
  padding-bottom: 200px;
  padding-top: 40px;

  .case-study {

    .row {
      border-bottom: 1px solid $rye-light-gray;
    }

    h1 {
      margin-top: 20px;
    }
  }

  .screenshot {
    height: 250px;
    width: 100%;
    max-width: 350px;
    background: url('http://placehold.it/250x250');
    margin-bottom: 12px;
  }
}


 //               _     _ _        __ _         _           
 //   /\/\   ___ | |__ (_) | ___  / _\ |_ _   _| | ___  ___ 
 //  /    \ / _ \| '_ \| | |/ _ \ \ \| __| | | | |/ _ \/ __|
 // / /\/\ \ (_) | |_) | | |  __/ _\ \ |_| |_| | |  __/\__ \
 // \/    \/\___/|_.__/|_|_|\___| \__/\__|\__, |_|\___||___/
 //                                       |___/              

@media only screen {

  .project-content {

    .case-study {
      
    }
  }
}



//  __                 _ _   __                              
// / _\_ __ ___   __ _| | | / _\ ___ _ __ ___  ___ _ __  ___ 
// \ \| '_ ` _ \ / _` | | | \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// _\ \ | | | | | (_| | | | _\ \ (__| | |  __/  __/ | | \__ \
// \__/_| |_| |_|\__,_|_|_| \__/\___|_|  \___|\___|_| |_|___/
                                                          
// Min-width 401px;
@media only screen and (min-width: 20.063em) {
  
  .project-content {

    .case-study {

      h1 {
        text-align: center;
        font-size: 3em;
        font-weight: 600;
      }

      h5 {
        text-align: center;
        font-size: 1.1em;

        &:nth-of-type(2){
          text-align: left;
        }
      }

      p {
        font-size: 1.2em;
      }

      .testimonial {
        width: 100%;
        padding: 8px;
        margin-bottom: 12px;

        .head-shot {
          display: inline-block;
          height: 80px;
          width: 80px;
          background: url('http://placehold.it/80x80');
          border-radius: 50%;
        }

        .blurb {
          width: 70%;
          display: inline-block;
          vertical-align: top;
          margin: 6px 0 0 6px;

          h4 {
            font-size: 0.9em;
            text-align: left;
            margin-bottom: 0;
          }

          .client-name {
            width: 50%;
            display: inline-block;
            float: right;
            padding-right: 12px;
            padding-top: 6px;

            h5 {
              font-size: 0.9em;
              margin: 0;
              margin-right: 0;
              text-align: right;
              // width: 70%;

              &:nth-child(2) {
                text-align: right;
                padding-left: 17%;
                margin: 0;
              }
            }
          }
        }
      }

      .conclusion {
        margin-top: 12px;

        h5 {
          text-align: left;
        }
      }
    }
  }
}




//                  _ _                   __                              
//   /\/\   ___  __| (_)_   _ _ __ ___   / _\ ___ _ __ ___  ___ _ __  ___ 
//  /    \ / _ \/ _` | | | | | '_ ` _ \  \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /\/\ \  __/ (_| | | |_| | | | | | | _\ \ (__| | |  __/  __/ | | \__ \
// \/    \/\___|\__,_|_|\__,_|_| |_| |_| \__/\___|_|  \___|\___|_| |_|___/
                                                                       
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
  
  .project-content {

    .case-study {

      h1 {
        text-align: left;
        margin-bottom: -4px;
      }

      h5 {
        text-align: left;
        margin-bottom: 18px;
      }

      .testimonial {

        .blurb {
          width: 64%;

          @media only screen and (min-width: 732px){
            width: 70%;
          }
  
          .client-name {
            width: 88%;
          }
        }
      }
    }
  }
}




//    __                        __                              
//   / /  __ _ _ __ __ _  ___  / _\ ___ _ __ ___  ___ _ __  ___ 
//  / /  / _` | '__/ _` |/ _ \ \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /__| (_| | | | (_| |  __/ _\ \ (__| | |  __/  __/ | | \__ \
// \____/\__,_|_|  \__, |\___| \__/\___|_|  \___|\___|_| |_|___/
//                 |___/                                        
/* Min-width 1025px */
@media only screen and (min-width: 60.063em) {
  .project-content {

    .case-study {
    
    }
  }
}