.referral-content {
  background: url('/images/backgrounds/paper.png');

  a {
    color: $rye-red;
    transition: all 0.3s ease;

    &:hover {
      border-bottom: 1px solid $rye-red;
    }
  }
} 

.contractor-content, .clients-content {
  background: url('/images/backgrounds/paper.png');
}



 //               _     _ _        __ _         _           
 //   /\/\   ___ | |__ (_) | ___  / _\ |_ _   _| | ___  ___ 
 //  /    \ / _ \| '_ \| | |/ _ \ \ \| __| | | | |/ _ \/ __|
 // / /\/\ \ (_) | |_) | | |  __/ _\ \ |_| |_| | |  __/\__ \
 // \/    \/\___/|_.__/|_|_|\___| \__/\__|\__, |_|\___||___/
 //                                       |___/              

@media only screen {

  .referral-content {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 40px;

    p {
      font-size: 1.3em;
      text-align: left;
    }

    .ref-buttons {
      padding-top: 10px;

      .medium-7 {

      }
    }

    .button {
      position: relative;
      margin-bottom: 20px;

      .bt-content {
        height: 100%;

        i {
          width: 22%;
          font-size: 2.6em;
          position: relative;
          bottom: 2px;
          left: 10px;
        }

        .bt-title {
          font-family: 'proxima-nova-extra-condensed';
          display: inline-block;
          width: 70%;
          font-size: 1.8em;
          line-height: 1em;
          margin-top: 4px;
        }
      }
    }
  }

  .contractor-content, .clients-content {
    padding: 30px 16px;

    .row {
      margin-bottom: 6px;
    }

    h2 {
      text-align: center;
    }

    .button {
      padding: 6px;
      display: block;
      margin: 0 auto;

      i {
        font-size: 1.2em;
        position: relative;
        top: 8px;
        margin-right: 6px;
      }

      span {
        vertical-align: top;
        font-size: 1.2em;
        line-height: 2.1em;
      }

      &.submit-profile {
        line-height: 1.3em;
        height: 42px;
        min-width: 100px;
      }
    }
  }
}

//  __                 _ _   __                              
// / _\_ __ ___   __ _| | | / _\ ___ _ __ ___  ___ _ __  ___ 
// \ \| '_ ` _ \ / _` | | | \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// _\ \ | | | | | (_| | | | _\ \ (__| | |  __/  __/ | | \__ \
// \__/_| |_| |_|\__,_|_|_| \__/\___|_|  \___|\___|_| |_|___/
                                                          
@media only screen and (min-width: 401px) {

  .referral-content {
    padding-top: 40px;

    .ref-buttons {

    }

    .button {

      .bt-content {
        margin-bottom: 40px;

        i {
          bottom: 4px;
        }
      }
    }
  }

  .contractor-content, .clients-content {
    text-align: left;
    padding: 30px;

    .row {
      margin-bottom: 6px;
    }

    .button {
      line-height: 1.1em;

      i {
        position: relative;
        top: 10px;
        margin-right: 6px;
      }

      span {
        vertical-align: top;
        font-size: 1.2em;
        line-height: 2em;
      }
    }
  }
}


//                  _ _                   __                              
//   /\/\   ___  __| (_)_   _ _ __ ___   / _\ ___ _ __ ___  ___ _ __  ___ 
//  /    \ / _ \/ _` | | | | | '_ ` _ \  \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /\/\ \  __/ (_| | | |_| | | | | | | _\ \ (__| | |  __/  __/ | | \__ \
// \/    \/\___|\__,_|_|\__,_|_| |_| |_| \__/\___|_|  \___|\___|_| |_|___/
                                                                       
@media only screen and (min-width: 641px) {

  .referral-content {
    height: 800px;

    .ref-buttons {
      padding-top: 76px;
      padding-left: 26px;

      .medium-7 {
        margin-bottom: 40px;
      }
    }

    p {
      font-size: 1.1em;
      text-align: left;
    }

    h2 {
      text-align: left;
    }

    .button {
      display: inline-block;

      .bt-content {

        .bt-title {
          margin-top: 0;
        }
      }
    }
  }

  .contractor-content, .clients-content {

    .row {
      margin-bottom: 10px;
    }

    .button {
      &.submit-profile {
        height: 44px;
        line-height: 1.6em;
        margin-top: 16px;
      }
    }
  }
}

//    __                        __                              
//   / /  __ _ _ __ __ _  ___  / _\ ___ _ __ ___  ___ _ __  ___ 
//  / /  / _` | '__/ _` |/ _ \ \ \ / __| '__/ _ \/ _ \ '_ \/ __|
// / /__| (_| | | | (_| |  __/ _\ \ (__| | |  __/  __/ | | \__ \
// \____/\__,_|_|  \__, |\___| \__/\___|_|  \___|\___|_| |_|___/
//                 |___/                                        

@media only screen and (min-width: 1025px) {

  .referral-content {

    .ref-buttons {
      padding-left: 76px;
    }

    .button {

      .bt-content {

        i {
          font-size: 2em;
          bottom: 10px;
          left: -2px;
        }

        .bt-title {
          font-size: 1.5em;
        }
      }
    }
  }

  .contractor-content, .clients-content {
    padding-bottom: 80px;

    .button {
      
      i {
        font-size: 1em;
      }

      span {
        line-height: 2.2em;
        font-size: 0.9em;
      }

      &.submit-profile {
        // margin-top: 10px;
        // line-height: 1.2em;
      }
    }
  }

}