@import "colors";

@font-face {
  font-family: 'CourierPrime';
  src: url('/fonts/Courier_Prime_Bold.ttf') format('truetype')
}

//  _   _                _           
// | | | |              | |          
// | |_| | ___  __ _  __| | ___ _ __ 
// |  _  |/ _ \/ _` |/ _` |/ _ \ '__|
// | | | |  __/ (_| | (_| |  __/ |   
// \_| |_/\___|\__,_|\__,_|\___|_|   
// ascii- DOOM

.header {
  margin-top:20px;
  font-family: 'CourierPrime';
  position:relative;

  .cta {
    background:url('/images/cta.png');
    background-size:cover;
    height:50px; 
    width:150px; 
    position: absolute; 
    right: 00px;
    top:10px;
    display:none;
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;


    &:hover {
      background:url('/images/cta-red.png');
      background-size:cover;
      transition: background .6s;
      -webkit-transition: background .6s;
      -moz-transition: background .6s;
      -o-transition: background .6s;
    }

    @media (min-width: 778px) {
      display:inline-block;
    }

    @media (max-width: 1025px) {
      right:60px
    }
  }

  .logo {
    display:inline-block;
    height:80px;
    text-align: center;
    margin-bottom:20px;

    img {
      height:100%;
    }
    
    @media (max-width:778px) {
      text-align: center;
      width: 100%;
    }
  }

  .nav {
    display:inline-block;

    ul{
      display:inline-block; 
      list-style-type:none;
      text-align:center;

      li {
        display:inline-block;
        padding-right:20px;

        @media (max-width:778px) {
          padding:0px 10px;
        }
      }
    }
  @media (max-width:778px) {
    text-align: center;
    width: 100%;
  }

    a {
      color: $grey;

      &:hover {
        border-bottom: 2px solid $grey;
      }
    }
  }

  @media (min-width: 778px) {
    padding-left:60px;
  }

  @media (min-width: 1025px) {
    padding-left:0px
  }
}

.hero {
  position: relative;

  img {
    width:100%; 
    max-height:400px; 
    position:relative;
  }

  .hero-text {
    position: absolute;
    top:40%;
    left:10%;
    padding:1rem;
    transform:translateY(-50%);
    width: 90%;
    z-index:2;
    color: $grey;

    h1 {
      color:white;
      font-size:2.10rem;

      @media (min-width:778px) {
        font-size:3.6rem;
      }
    }

    p {
      font-size:20px;
    }
  }

  .overlay {
    position:absolute;
    width: 100%;
    height:100%;
    background-color:rgba(81, 20, 2, 0.57);
    z-index:1;
  }

  @media (max-width:500px) {
    display:none;
  }
}  