doctype html
html
  head
    include ../includes/head

  //- Content goes here.
  body
    block content
    include ../includes/footer
  //- include /includes/footer
  include ../includes/closing-scripts
  block scripts