html
  head
    include ../includes/head

  //- Your cool stuff here.
  body
    //- #wrapper
    block content
    include ../includes/footer
  //- include /includes/footer
  include ../includes/closing-scripts
  block scripts

