extends ../../layouts/main
block content
  
  include ../../includes/header

  .project-content 
    .pagination-container.row
      a.prev-page Previous
      span.breadcrumb-carrot &nbsp; > &nbsp;
      span.current-page-title
        //- current page name appended here
      //- span.breadcrumb-carrot &nbsp; > &nbsp;
      a.next-page Next

    include ../../case-studies/cowboy-ventures
    include ../../case-studies/sanfran
    include ../../case-studies/tipi
    include ../../case-studies/waterford
    //- include ../../case-studies/example

    include ../../includes/screenshot-modal
    
