extends ../../layouts/main
block content
  
  include ../../includes/header

  .project-content 
    .row
      .case-study
        .small-12.column
          h1 Cowboy Ventures
          h5 Seed fund based in San Francisco, CA
        .small-12.medium-6.column
          p Odio vegan polaroid PBR&B laboris, single-origin coffee butcher gluten-free pickled cred squid veniam placeat. Put a bird on it dolor mustache, eiusmod nostrud Shoreditch polaroid ut Helvetica.  
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.        
          .screenshot
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
        .small-12.medium-6.column
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
          .testimonial
            .head-shot
            .blurb
              h4 "Rye is so awesome to work with. I can't believe how amazing it was to work with them. Definitely calling back."
              .client-name
                h5 - Joe Tamburro
                h5 CEO
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
          .conclusion
            h5 Conclusion
            p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.

//- Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips. Swag bicycle rights messenger bag, assumenda kogi labore cardigan esse Kickstarter mollit laboris Echo Park exercitation. DIY typewriter pickled butcher, raw denim Odd Future flannel wayfarers umami 90's art party selfies sint deserunt.