extends ../../layouts/main
block content
  
  include ../../includes/header

  .project-content 
    .case-study
      .row
        .small-12.column
          h1 Cowboy Ventures
          h5 Seed fund based in San Francisco, CA
        .small-12.medium-6.column
          p Odio vegan polaroid PBR&B laboris, single-origin coffee butcher gluten-free pickled cred squid veniam placeat. Put a bird on it dolor mustache, eiusmod nostrud Shoreditch polaroid ut Helvetica.  
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.        
          .screenshot
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
        .small-12.medium-6.column
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
          .testimonial
            .head-shot
            .blurb
              h4 "Rye is so awesome to work with. I can't believe how amazing it was to work with them. Definitely calling back."
              .client-name
                h5 - Joe Tamburro
                h5 CEO
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
          .conclusion
            h5 Conclusion
            p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
    .case-study
      .row
        .small-12.column
          h1 San Francisco Rises
          h5 User content driven real estate app
        .small-12.medium-6.column
          p In a city that moves as fast as San Francisco, with 20,000 new residents entering the city between 2010 and 2012 and 26,700 new jobs added last year, the demand for real estate is high.
          p The folks over at San Francisco Rises had a great idea for connecting people in search of residential real estate in the area.        
          .screenshot
          p When new buildings enter construction they will be posted to the app where users can find them easily, see what others are saying and post updates and images as the buildings near completion.
        .small-12.medium-6.column
          p Knowing that a large percentage of new residents are in the tech industry, we designed the app to be easily navigable, clean and accessible across all devices.
          .testimonial
            .head-shot
            .blurb
              h4 "Rye is so awesome to work with. I can't believe how amazing it was to work with them. Definitely calling back."
              .client-name
                h5 - Dirk Kinley
                h5 CEO
          p Our client's goal was to create this app as proof of concept and get it into market for user testing. Working with limited time and budget we executed a custom designed and developed app with a Wordpress content management system for post moderation and administrative content updates.
          .conclusion
            h5 Coming Up
            p Dirk and team are working on content and ramping up for an intial marketing push. You can see the progress here:
            a(href='http://sanfranciscorises.com/') Launch sanfranciscorises.com
    .case-study
      .row
        .small-12.column
          h1 TIPI
          h5 The Interactive Project Initiator
        .small-12.medium-6.column
          p The process of scoping and signing a project can be arduous. A lot is on the line between you and your client and the terms defined here can result in success or failure.
          p TIPI was conceived to address this important area of project management by giving users a single tool for defining the scope of work and templating documents including proposals, contracts and briefs.       
          .screenshot
          p A steakholder fills out a questionnaire and saves it to the database, creating a project planner. Next, users can review and edit the planner based on conversation with the client. Total cost and deposit are automatically calculated.
        .small-12.medium-6.column
          p Once published, a planner is injected in to a templatized proposal for signature and agreement, a legally binding contract and a brief for project teams to kick off work.
          .testimonial
            .head-shot
            .blurb
              h4 "Rye is so awesome to work with. I can't believe how amazing it was to work with them. Definitely calling back."
              .client-name
                h5 - Jeremiah Adkins
                h5 UI Designer
          p TIPI was built on the ember.js framework and connected to firebase SDK. This setup provides two-way data binding, allowing users to work remotely with their clients and provide real-time updates to their project planner.
          .conclusion
            h5 Next Steps
            p TIPI is still in the initiation phase itself. We have big plans for growing the app and the business around it. Already, it has been met with enthusiasm in closed groups. More to come!
            a(href='http://http://drewbot.github.io/tipi/') Launch TIPI
    .case-study
      .row
        .small-12.column
          h1 Waterford HOA
          h5 Website and gated application
        .small-12.medium-6.column
          p The Home Owners Association of Waterford in Clemmons, NC not only needed a brochure style website, they also needed a password protected application for connecting the community.
          p Our team created just that. On the surface it looks a lot like any other HOA website, with information about the area, the local government, schools, shopping and the like, but behind all of that lies a gated application for home owners to share ideas and events.       
          .screenshot
          p waterfordclemmons.com is an admin moderated and content manageable digital property built with two types of users in mind.
        .small-12.medium-6.column
          p If you're new to the area and want to find out about the community you can access a regularly updated newsletter and a listing of local attractions and institutions. Waterford's swim team is locally recognized and has a central hub within the site for information and membership payment.
          p If you're a homeowner you can create an account and log in to access an online community directory and a user content driven board where homeowners can post upcoming events, services and items for sale.
          .testimonial
            .head-shot
            .blurb
              h4 "Rye is so awesome to work with. I can't believe how amazing it was to work with them. Definitely calling back."
              .client-name
                h5 - Martin Davidson
                h5 Global Creative Director, Krispy Kreme
          .conclusion
            h5 The community speaks
            p Waterford's site and application have been in use for over a year and they love it. We were able to meet their needs and budget by architecting a unique experience with all of the bells and whistles on a Wordpress CMS.

//- Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips. Swag bicycle rights messenger bag, assumenda kogi labore cardigan esse Kickstarter mollit laboris Echo Park exercitation. DIY typewriter pickled butcher, raw denim Odd Future flannel wayfarers umami 90's art party selfies sint deserunt.