extends ../../layouts/main
block content
  
  include ../../includes/header

  .project-content 
    .row
      .small-12.column
        .pagination-container
          a.prev-page Previous
          span.breadcrumb-carrot &nbsp; > &nbsp;
          //- span.current-page-title
            //- current page name appended here
          //- span.breadcrumb-carrot &nbsp; > &nbsp;
          a.next-page Next

    .row
      .small-12.column  
        include ../../case-studies/cowboy-ventures
        include ../../case-studies/the-iron-yard
        include ../../case-studies/sanfran
        include ../../case-studies/tipi
        include ../../case-studies/waterford
        //- include ../../case-studies/example

        include ../../includes/screenshot-modal
    
