extends ../../layouts/main
block content
  
  include ../../includes/header

  .project-content 
    .case-study
      .row
        .small-12.column
          h1 Cowboy Ventures
          h5 Seed fund based in San Francisco, CA
        .small-12.medium-6.column
          p Odio vegan polaroid PBR&B laboris, single-origin coffee butcher gluten-free pickled cred squid veniam placeat. Put a bird on it dolor mustache, eiusmod nostrud Shoreditch polaroid ut Helvetica.  
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.        
          .screenshot
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
        .small-12.medium-6.column
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
          .testimonial
            .head-shot
            .blurb
              h4 "Rye is so awesome to work with. I can't believe how amazing it was to work with them. Definitely calling back."
              .client-name
                h5 - Joe Tamburro
                h5 CEO
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
          .conclusion
            h5 Conclusion
            p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
    .case-study
      .row
        .small-12.column
          h1 San Francisco Rises
          h5 User content driven real estate app
        .small-12.medium-6.column
          p In a city that moves as fast as San Francisco does, with 20,000 new residents entering the city between 2010 and 2012 and 26,700 new jobs added last year, the demand for real estate is high.
          p The folks over at San Francisco Rises had a great idea for connecting people in search of residential real estate in the San Francisco area.        
          .screenshot
          p The idea is that when new buildings enter construction they will be posted to the app where users can find them easily, see what others are saying and post updates and images as the buildings near completion.
        .small-12.medium-6.column
          p With a large majority of new residents involved in the tech community we had to be smart about our product. We designed the app to be easily navigable, clean and accessible across all devices.
          .testimonial
            .head-shot
            .blurb
              h4 "Rye is so awesome to work with. I can't believe how amazing it was to work with them. Definitely calling back."
              .client-name
                h5 - Dirk Kinley
                h5 CEO
          p Our client's goal was to create this app as a proof of concept and get it into market for user testing. Working with limited time and budget we executed a custom designed and developed app with a Wordpress content management system for post moderation and administrative content updates.
          .conclusion
            h5 Conclusion
            p Dirk and team are working on content and ramping up for an intial marketing push. You can see the progress here:
            a(href='http://sanfranciscorises.com/') Launch sanfranciscorises.com
    .case-study
      .row
        .small-12.column
          h1 Cowboy Ventures
          h5 Seed fund based in San Francisco, CA
        .small-12.medium-6.column
          p Odio vegan polaroid PBR&B laboris, single-origin coffee butcher gluten-free pickled cred squid veniam placeat. Put a bird on it dolor mustache, eiusmod nostrud Shoreditch polaroid ut Helvetica.  
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.        
          .screenshot
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
        .small-12.medium-6.column
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
          .testimonial
            .head-shot
            .blurb
              h4 "Rye is so awesome to work with. I can't believe how amazing it was to work with them. Definitely calling back."
              .client-name
                h5 - Joe Tamburro
                h5 CEO
          p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.
          .conclusion
            h5 Conclusion
            p Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips.


//- Vinyl sartorial twee, Carles Odd Future bitters cornhole laboris normcore distillery. Before they sold out veniam chambray, assumenda letterpress iPhone narwhal accusamus direct trade qui kale chips. Swag bicycle rights messenger bag, assumenda kogi labore cardigan esse Kickstarter mollit laboris Echo Park exercitation. DIY typewriter pickled butcher, raw denim Odd Future flannel wayfarers umami 90's art party selfies sint deserunt.