extends ../../layouts/main
block content
  
  include ../../includes/header

  .project-content 
    .row
      .small-12.column
        h1 This page is currently under construction. Check back soon to see some of the great work we have done.

