mixin footer (meta)
  if meta.home
    .footer-wrap
      .footer.small-12.columns
        .small-5.left
          .iphone-image
          .footer-content-left
            .footer-title Case Study Yada-yada
            .footer-body Body Text Tumblr drinking vinegar tousied single-origin coffee. selfies mixtape fashion axe.
            a(href="#"): .cta-small
        .small-5.right
          .rye-image
          .footer-content
            .footer-title Start Your Project With Rye
            .footer-body Body Text Tumblr drinking vinegar tousied single-origin coffee. selfies mixtape tousied single-origin coffee.
            a(href="#"): .cta-small
      .footer-bottom.small-12.columns
          .state-image
          .footer-bottom-container
            .footer-bottom-text Marco! Polo!
            .footer-bottom-text Marco! Polo!
      .footer-bottom-bar.small-12.columns
  
  else
    .footer-bottom.small-12.columns
        .state-image
        .footer-bottom-container
          .footer-bottom-text Marco! Polo!
          .footer-bottom-text Marco! Polo!
    .footer-bottom-bar.small-12.columns    

