// build:js scripts/vendor.js
// bower:js
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/FitText.js/jquery.fittext.js")
script(src="/bower_components/underscore/underscore-min.js")
script(src="/bower_components/foundation/js/foundation/foundation.reveal.js")
script(src="/bower_components/foundation/js/foundation/foundation.js")
// endbower
// endbuild

// build:js scripts/main.js
script(src="/scripts/config.js")
script(src="/scripts/paginate.js")
script(src="/scripts/main.js")
// endbuild