// build:js scripts/vendor.js
// bower:js
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/FitText.js/jquery.fittext.js")
// endbower
// endbuild

// build:js scripts/main.js
script(src="/scripts/main.js")
// endbuild