// build:js scripts/vendor.js
// bower:js
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/FitText.js/jquery.fittext.js")
script(src="/bower_components/jquery-cookie/jquery.cookie.js")
script(src="/bower_components/underscore/underscore-min.js")
script(src="/bower_components/foundation/js/foundation/foundation.js")
script(src="/bower_components/foundation/js/foundation/foundation.reveal.js")
// endbower
// endbuild

// Google Analytics: change UA-XXXXX-X to be your site's ID. 
script.
  var trackID, domainID;
  trackID = 'UA-55628204-1'; //eg: 'UA-34398778-4'.
  domainID = 'auto'; //eg: 'studio7designs.com'.
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments);
    },
    i[r].l = 1 * new Date();
    a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.defer = 1;
    a.src = g;
    m.parentNode.insertBefore(a,m)
  })(window, document, 'script','//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-55628204-1', 'auto');
  ga('send', 'pageview');

// build:js scripts/main.js
script(src="/scripts/config.js")
script(src="/scripts/paginate.js")
script(src="/scripts/main.js")
// endbuild