.footer
  .footer-bottom
    .row
      a(href='/')
        .logo: img(src="/images/rye-logo.png" alt="Rye Development")
      .state-image
      .links
        nav
          ul
            li: a(href="/#main-content-hl") About
            .spacer
            li: a(href="/projects") Projects
            .spacer
            li: a(href="/contact") Contact
        .social
          a(href="https://www.twitter.com/ryedev" target="_blank")
            i.ss-icon.ss-social Twitter
          .spacer
          a(href="https://www.facebook.com/ryedevelopment" target="_blank")
            i.ss-icon.ss-social Facebook
          .spacer
          a(href="mailto:hello@ryedev.com?subject=Inquiry from our Site")
            i.ss-icon.ss-social Email
        .phone-number
          i.ss-icon.ss-standard.phone-icon Phone
          a(href="tel:+1-864-571-0357")
            h5 (864)571-0357

      //- nav.main-footer-nav
      //-   ul
      //-     li: a(href="/#main-content-hl") About
      //-     li: a(href="/projects") Projects
      //-     li: a(href="/contact") Contact
  .footer-bottom-bar