.footer-bottom.small-12.columns
        .state-image
        .footer-bottom-container
          .footer-bottom-text Marco! Polo!
          .footer-bottom-text Marco! Polo!

  .footer-bottom-bar.small-12.columns