.row
  header.small-12
    .logo: img(src="/images/rye-logo.png" alt="Rye Development")
    nav
      ul
        li: a(href="") About
        li: a(href="") Case-Studies
        li: a(href="") Contact
    a(href="#"): .cta