doctype html
html(lang="en")
  head
    title= RyeDev
    link(rel="stylesheet" href="stylesheets/normalize.css")
    link(rel="stylesheet" href="stylesheets/foundation.css")
    link(rel="stylesheet" href="stylesheets/styles.css")