header.small-12
  .row
    a(href='https://www.ryedev.com')
      .logo: img(src="/images/rye-logo.png" alt="Rye Development")
    nav
      ul
<<<<<<< HEAD
        li: a(href="/about") About
        li: a(href="/case-studies") Insight
=======
        li: a(href="/contact") About
        li: a(href="/contact") Insight
>>>>>>> 7cae5e20718bbb610d2da646f3b4108cdbc216e4
        li: a(href="/contact") Contact
    a(href="#"): .cta