.row
  header.small-12
    a(href='https://www.ryedev.com')
      .logo: img(src="/images/rye-logo.png" alt="Rye Development")
    nav
      ul
        li: a(href="") About
        li: a(href="") Insight
        li: a(href="") Contact
    a(href="#"): .cta