
title='Rye Development - For all your digital needs'
meta(name="description" content="We are a digital agency focused on growing your ideas via custom websites and applications. We are at home on the web, but based in Greenville, SC.")
link(rel="shortcut icon" href="http://ryedev.com/favicon.ico" type="image/x-icon")
link(rel="icon" href="http://ryedev.com/favicon.ico" type="image/x-icon")
link(rel="stylesheet" href="/stylesheets/main.css")
link(href="../fonts/ss-social.css" rel="stylesheet")
link(href="../fonts/ss-standard.css" rel="stylesheet")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
script(type="text/javascript" src="//use.typekit.net/lod6adz.js")
script(type='text/javascript').
  try{Typekit.load();}catch(e){}
