header.small-12
  .row
    a(href='https://www.ryedev.com')
      .logo: img(src="/images/rye-logo.png" alt="Rye Development")
    nav
      ul
        li: a(href="/about") About
        li: a(href="/case-studies") Insight
        li: a(href="/contact") Contact
    a(href="#"): .cta