.case-study.example.disabled(data-paginate="example")
  .row
    .small-12.column
      h1 San Francisco Rises
      h5 User content driven real estate app
    .small-12.medium-6.column
      p In a city that moves as fast as San Francisco, with 20,000 new residents entering the city between 2010 and 2012 and 26,700 new jobs added last year, the demand for real estate is high.
      p The folks over at <a href="http://smartrises.com/" target="_blank"><span>San Francisco Rises</span></a> wanted to solve the challenge of connecting people in search of high-rise residential properties with real estate in the area.        
      .screenshot
        //- .plus
        //-   .plus-sign
        //-     img(src="/images/plus-sign.png")
      p When new buildings enter construction they will be posted to the app where users can find them easily, see what others are saying, and post updates and images as the buildings near completion.
    .small-12.medium-6.column
      p Knowing that a large percentage of new residents are in the tech industry, we designed the app to be easily navigable, clean and accessible across all devices.
      //- .testimonial
      //-   .head-shot
      //-   .blurb
      //-     h4 "Rye is so awesome to work with. I can't believe how amazing it was to work with them. Definitely calling back."
      //-     .client-name
      //-       h5 - Dirk Kinley
      //-       h5 CEO
      p The goal was to create a proof of concept application and begin user testing and collect feedback. Working within the project constraints, we executed a custom designed and developed application with post moderation capabilities and administrative content updates.
      .conclusion
        h5.text-left Coming Up
        p The SFR team is working on content and ramping up for an initial marketing push. You can see the progress here:
        a(href='http://sanfranciscorises.com/' target="_blank")
          .button launch site