.case-study.cowboy(data-paginate="nav-vc")
  .row
    .small-12.column
      h1 NAV.VC
      h5 Seed and early-stage technology investor.
    .small-12.medium-6.column
      p NAV.VC makes seed and early stage investments in technology businesses wrapped around emerging, disruptive consumer trends; companies such as <a href="http://www.pokitdok.com/" target="_blank"><span>PokitDok</span></a>, <a href="http://yieldbot.com/" target="_blank"><span>YieldBot</span></a>, <a href="https://www.modaoperandi.com/" target="_blank"><span>Moda Operandi</span></a>, <a href="https://www.invincea.com/" target="_blank"><span>Invincea</span></a>, and the <a href="http://nav.vc/portfolio.html" target="_blank"><span>list</span></a> goes on.  
      p Cowboy approached us wanting to polish up their existing site and implement a blog page to keep followers current when articles such as <a href="http://techcrunch.com/2014/08/15/what-studying-students-teaches-us-about-great-apps/?ncid=facebook_social_share" target=_blank""><span>this</span></a> go live on TechCrunch.
      .screenshot
        a.plus.show-modal(data-image="/images/case-study-cowboy-full.jpg")
          .plus-sign
            img(src="/images/plus-sign.png")
      p The solution was to implement a clean and simple Wordpress blog that the Cowboy VC team can curate that blends with the rest of the site design. Adding some nice UX touches throughout the site that complement not only the Cowboy VC brand, but also their portfolio companies, was crucial.
    .small-12.medium-6.column
      p In an industry that is constantly changing, we wanted to create a build that can hold up to the ever-evoloving landscape of the tech and venture world. A lot of care went into this project under-the-hood cleaning up and updating some of the existing code base to lay a solid foundation for future growth.
      .testimonial
        .head-shot
        .blurb
          h4 "Joe and his team did great work developing our site. Both in design and in execution, we were very pleased with the result and enjoyed working with them on the project."
          .client-name
            h5 - Noah Lichtenstein
            h5 Partner
      .conclusion
        h5.text-left Return on Investment
        p A strong web presence in the form of an enjoyable user experience goes a long way. Adding some TLC to a site returns lengthier site visits, higher click-through rates, and ultimately raises the bottom line. When keeping in touch with your network and followers is important to you, a blog is a great way to get your voice out. 
      a(href='http://cowboy.vc' target="_blank")
        .button launch site 


