.case-study.nav-vc(data-paginate="nav-vc")
  .row
    .small-12.column
      h1 NAV.VC
      h5 Seed and early-stage technology investor.
    .small-12.medium-6.column
      p NAV.VC makes seed and early-stage investments in technology businesses wrapped around emerging, disruptive consumer trends; companies such as <a href="http://www.pokitdok.com/" target="_blank"><span>PokitDok</span></a>, <a href="http://yieldbot.com/" target="_blank"><span>YieldBot</span></a>, <a href="https://www.modaoperandi.com/" target="_blank"><span>Moda Operandi</span></a>, <a href="https://www.invincea.com/" target="_blank"><span>Invincea</span></a>, and the <a href="http://nav.vc/portfolio.html" target="_blank"><span>list</span></a> goes on.  
      p 
      .screenshot
        a.plus.show-modal(data-image="/images/case-study-nav.jpg")
          .plus-sign
            img(src="/images/plus-sign.png")
      p We started with conversations about the history of the company and their vision for the future. With a website and logo created many years ago, it was time for a refresh to reflect the redefined NAV.VC identity with a focus on what sets them apart: the founders they invest in. 
      p With that in mind, we made sure to spotlight their founders throughout the site, as evident on the home page.
    .small-12.medium-6.column
      p Having a rapidly growing and changing portfolio, NAV.VC would be best served by having access to a CMS to keep things current. Whether it be a company having a successful exit or a new adition to the NAV.VC family, they can rest assured that those updates are reflected immediately.
      .testimonial
        .head-shot
        .blurb
          h4 "The team at Rye took extra care to really understand our needs and deliver solutions that represent our brand, so much so that we returned for a second project."
          .client-name
            h5 - Thanasis Delistathis 
            h5 Co-Founder & Managing Partner
      .conclusion
        h5.text-left Differentiators
        p In the case of NAV.VC, a new logo and website was needed that reflects the reliability and vision that sets them apart. They relentlessly work around the clock to support the companies they believe in; that inspired us to do the same for them. It was a pleasure working with them, as we know the founders they work with share our sentiments.
      a(href='http://nav.vc' target="_blank")
        .button visit site 


