.case-study.the-iron-yard(data-paginate="the-iron-yard")
  .row
    .small-12.column
      h1 The Iron Yard
      h5 The nation's largest code school
    .small-12.medium-6.column
      p The Iron Yard is committed to training the highest-quality developers and startups in the world, both in skill and in character. We are committed to matching that quality within our partnership and throughout their site.
      p We have partnered with The Iron Yard to support graduates looking to start a freelance career. We provide them the same mentorship and real-world experience that graduates who chose to go work for a company receive from within their organization. 
      .screenshot
        a.plus.show-modal(data-image="/images/case-study-tiy.png")
          .plus-sign
            img(src="/images/plus-sign.png")
      p As The Iron Yard has grown into the largest code school in the nation, their website has grown in parallel. We were first tasked with rebuilding the site architecture to allow maintainability as The Iron Yard continues to expand across the nation.
    .small-12.medium-6.column
      p In order to establish maximum extensibility, we utilized many tools like the front-end package manager, Bower, allowing certain components to be modularized for expediting future development.
      .testimonial
        .head-shot
        .blurb
          h4 "We've trusted Rye to both extend our CSS framework and build lightweight front-end JavaScript applications for us. Their attention to detail and ability to deliver ahead of time makes them a go-to resource for all of our internal programming needs."
          .client-name
            h5 - Eric Dodds
            h5 Partner, Marketing and Ops
      p With a new engine under the hood, The Iron Yard's site is set up to ensure that, with their continuing growth, their site will run smoothly.
      .conclusion
        h5.text-left What's next?
        p We will continue developing The Iron Yard's site, but are heavily focused on the mentorship aspect of our partnership. We want to provide as many graduates looking to freelance with guidance and continued learning through paid real-world projects with Rye. If you have a project you are looking to get developed, please take a moment and <a href="" target="_blank"><span>reach out<span></a> to us.
        a(href='http://theironyard.com' target="_blank") 
          .button visit Site 