.case-study.tipi
  .row
    .small-12.column
      h1 TIPI
      h5 The Interactive Project Initiator
    .small-12.medium-6.column
      p The process of scoping and signing a project can be arduous. A lot is on the line between you and your client, and the terms defined here can result in success or failure.
      p TIPI was conceived to address this important area of project management by giving users a single tool for defining the scope of work and templating documents including proposals, contracts and briefs.       
      .screenshot
        //- .plus
        //-   .plus-sign
        //-     img(src="/images/plus-sign.png")
      p A stakeholder fills out a questionnaire and saves it to the database, creating a project planner. Next, users can review and edit the planner based on conversation with the client. Total cost and deposit are automatically calculated.
    .small-12.medium-6.column
      p Once published, a planner is injected in to a templatized proposal for signature and agreement, a legally binding contract, and a brief for project teams to kick off work.
      .testimonial
        .head-shot
        .blurb
          h4 "TIPI has already made project initiation easier. I can't wait to see how far the Rye team takes it!"
          .client-name
            h5 - Jeremiah Adkins
            h5 UI Designer
      p TIPI was built on the ember.js framework and connected to the firebase SDK. This setup provides two-way data binding, allowing users to work remotely with their clients and provide real-time updates to their project planner.
      .conclusion
        h5.text-left Next Steps
        p TIPI is still in the initiation phase itself. We have big plans for growing the app and the business around it. Already, it has been met with enthusiasm in closed groups. More to come!
        a(href='http://drewbot.github.io/tipi' target="_blank") 
          .button Launch App