.case-study.waterford.disabled(data-paginate="waterford")
  .row
    .small-12.column
      h1 Waterford HOA
      h5 Website and gated application
    .small-12.medium-6.column
      p The Home Owners Association of Waterford in Clemmons, NC not only needed a brochure style website, they also needed a password protected application for connecting the community.
      p Our team created just that. On the surface it looks a lot like any other HOA website, with information about the area, the local government, schools, shopping and the like, but behind all of that lies a gated application for home owners to share ideas and events.       
      .screenshot
        //- a(data-reveal-id='myModal')
        //-   .plus
        //-     .plus-sign
        //-       img(src="/images/plus-sign.png")
      p Waterfordclemmons.com is an admin moderated and content manageable digital property built with two types of users in mind. 
    .small-12.medium-6.column
      p If you're new to the area and want to find out about the community you can access a regularly updated newsletter and a listing of local attractions and institutions. Waterford's swim team is locally recognized and has a central hub within the site for information and membership payment.
      p If you're a homeowner you can create an account and log in to access an online community directory and a user content driven board where homeowners can post upcoming events, services and items for sale.
      //- .testimonial
      //-   .head-shot
      //-   .blurb
      //-     h4 "Rye is so awesome to work with. I can't believe how amazing it was to work with them. Definitely calling back."
      //-     .client-name
      //-       h5 - Martin Davidson
      //-       h5 Global Creative Director, Krispy Kreme
      .conclusion
        h5.text-left The community speaks
        p Waterford's site and application have been in use for over a year. We were able to meet the client's needs by architecting a unique experience that met and exceeded their goals. The residents love it as well!
        a(href='http://www.waterfordclemmons.com' target="_blank") 
          .button Launch Site