extends ../../layouts/main
block content
  
  include ../../includes/header

  .referral-content
    .row
      .small-12.medium-5.medium-offset-1.columns
        a(href="/contractor") 
          .button.extra-large
            .bt-content
              i.ss-icon.ss-user 
              .bt-title Contractor Profile 
      .small-12.medium-5.end.columns
        a(href="/clients")
          .button.extra-large
            .bt-content
              i.ss-icon.ss-compose  
              .bt-title Project Questionnaire