extends ../../layouts/main
block content
  
  include ../../includes/header

  .referral-content
    .row
      .small-12.medium-6.columns
        h2 TIY Referral Network
        p We wouldn't exist if it wasn't for the support, mentorship, and education received from <a href="http://theironyard.com" target="_blank">The Iron Yard</a>. As the nation's premiere code school, <a href="http://theironyard.com" target="_blank">The Iron Yard</a> is in the business of changing lives, and that is exactly what they did for us. What does this mean to our clients and contractors? 
        p Part of what defines Rye is our giving-back mentality. We provide mentorship to all of our contractors and offer a welcoming professional environment for Iron Yard graduates looking to enter the world of freelance development. As for our clients, we assure quality work and dependability. We are glad you landed here and thank you for your support!

      .small-12.medium-6.columns.ref-buttons
        .small-12.medium-7.columns.text-center
          a(href="/contractor") 
            .button.extra-large
              .bt-content
                i.ss-icon.ss-user 
                .bt-title Contractor Profile 
        .small-12.medium-7.end.columns.text-center
          a(href="/clients")
            .button.extra-large
              .bt-content
                i.ss-icon.ss-compose  
                .bt-title Project Questionnaire